<div class="well" ng-controller="RegisterController">

    <div class="asd">
        <input type="text" name="login" ng-model="registerModel.login" class="form-control" placeholder="Enter login"/>
    </div>
    <div class="asd">
        <input type="password" name="password" ng-model="registerModel.password" class="form-control" placeholder="Enter password" />
    </div>
    <div class="asd">
        <input type="button" value="Register" ng-click="registerUser()" class="form-control btn btn-success" />
    </div>
</div>