<div ng-controller="RegisterController" class="well">

    <div class="asd">
        <input type="text" name="ALbName" id="albname" ng-model="registerModel.login" class="form-control" placeholder="Enter login"/>
    </div>
    <div class="asd">
        <input type="password" name="Name" id="name" ng-model="registerModel.password" class="form-control" placeholder="Enter password" />
    </div>
    <div class="asd">
        <input type="button" value="Register" ng-click="registerUser()" class="form-control btn btn-success" />
    </div>
</div>