<div ng-controller="IndexController">
    <div ng-repeat="album in albums" ng-if="album.photos.length != 0" class="row well">
        <h2>{{album.albumName}}</h2>
        <div ng-repeat="photo in album.photos" ng-class='{"max-size":photo.isMaxSize==true, "min-size":photo.isMaxSize==false}' ng-click="setMaxSize(photo)">
            <div scroll-on-click>
                <preview-img name="photo.name" src="photo.src" album="album.albumName" date="photo.CreationDate" description="photo.descr" preview="false" remove="remove" index="$index" photoid="photo.Id" />
            </div>
        </div>
    </div>
</div>
