<!DOCTYPE html>
<html ng-app="books">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/scripts/IndexController.js"></script>
</head>
<body ng-controller="IndexController">
    <div class="container well">
        <h1>Angular main page</h1>
        <a href="/Index">Index</a> | <a href="/Temp">Temp</a>
        <div ng-view>Loading...</div>
    </div>
</body>
</html>

