<div class="thumbnail panel-info awesome-view asd">
    <div>
        <h3 class="asd">{{name}}</h3>
    </div>
    <img ng-src="{{src}}" width="300" ng-show="src != ''" />

    <div ng-if="preview" date-now="MMM dd yyyy hh:mm" class="asd" />
    <div ng-if="!preview" class="asd">
        {{date}}
    </div>

    <div class="caption">
        <h4>{{description}}</h4>
    </div>

    <div ng-if="!preview">
        <input type="button" class="btn btn-danger bottom-left" value="Delete" ng-click="remove(index, album, photoid)" />
    </div>
</div>