<div class="well row">
    <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Enter name" ng-model="user.name"/>
        <input type="text" class="form-control" placeholder="Enter src" ng-model="user.src"/>
        <input type="text" class="form-control" placeholder="Enter album" ng-model="user.album"/>
        <input type="button" class="btn btn-primary" value="Add" ng-click="add(user.name, user.src, user.album)"/>
    </div>
    <div class="col-md-6">
        <preview-img name="user.name" src="user.src" album="user.album"/>
    </div>
</div>
